* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
      background: #743ffb;
    background: radial-gradient(circle, rgba(116, 63, 251, 1) 63%, rgba(237, 70, 252, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    background: rgb(253, 241, 193);
    color: black;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/* CART */
.cart {
    background:rgb(253, 241, 193);;
    padding: 25px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.cart-icon {
    font-family: Arial, Helvetica, sans-serif;
}

.cart h2 {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item img {
    width: 100px;
    border-radius: 6px;
}

.item-details {
    flex: 2;
}

.item-details h3 {
    margin-bottom: 5px;
}

.item-details p {
    color: #666;
    font-size: 14px;
    margin-bottom: 8px;
}

.price {
    font-weight: bold;
}

.item-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.item-actions input {
    width: 60px;
    padding: 5px;
}

.remove {
    background: transparent;
    color: #e60000;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/* SUMMARY */
.summary {
    background: rgb(253, 241, 193);;
    padding: 25px;
    border-radius: 8px;
    height: fit-content;
}

.summary h2 {
    margin-bottom: 20px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.summary-row.total {
    font-weight: bold;
    font-size: 18px;
}

.checkout {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background: plum;
    color: #fff;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout:hover {
    background: rgb(221, 127, 221);
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .item-actions {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}
