* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Indie Flower", cursive;
      font-weight: 400;
      font-style: normal;
}


body {
      background: #743ffb;
      background: radial-gradient(circle, rgba(116, 63, 251, 1) 63%, rgba(237, 70, 252, 1) 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-size: 10px;
}

#container {
      background-color: rgb(253, 241, 193);
      width: 350px;
      height: 85vh;
      border-radius: 18px;
      display: flex;
      flex-direction: row;
      padding: 8px;
}

#left {
      margin: 2px;
      flex: 1;
      height: 80%;
      border-radius: 8px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
}

#right {
      background-image: url(../../assets/OIP.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: aliceblue;
      flex: 1;
      height: 100%;
      border-radius: 14px;
      padding: 8px;
      display: none;
}

#header-container {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-bottom: 1rem;
}

#main {
      font-size: larger;
      margin-bottom: 2rem;
}

#aside {
      margin-bottom: 1rem;
      font-size: large;
}

.links {
      display: flex;
      font-size: larger;
      justify-content: center;
      margin-bottom: 1rem;

}

#link {
      display: flex;
      gap: 10px;
      flex: 1;
      flex-direction: row;
}


@media (min-width: 680px) {
      #container {
            width: 800px;
      }

      #left {
            flex: 5;
      }

      #right {
            display: block;
            background-image: url(../Rocket/assets/OIP.jpeg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            flex: 6;
      }
}