* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Indie Flower", cursive;
      font-weight: 400;
      font-style: normal;
}

body {
      background: #743ffb;
      background: radial-gradient(circle, rgba(116, 63, 251, 1) 63%, rgba(237, 70, 252, 1) 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      border: 3px solid black;
}

#planet {
      display: flex;
      justify-content: space-around;

}


#container {
      background-color: rgb(253, 241, 193);
      width: 350px;
      height: 85vh;
      display: flex;
      padding: 8px;
      flex-direction: row;
      border-radius: 12px;
}

#right {
      background-image: url(../../assets/OIP.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: aliceblue;
      flex: 1;
      height: 100%;
      border-radius: 14px;
      padding: 8px;
      display: none;
}

#left {
      flex: 2;
      margin: 4px;
}

#header-container {
      display: flex;
      align-items: center;
      gap: 4px;

}

#header-title {
      font-size: 16px;
}

#title {
      font-size: xx-large;
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
}

.list {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-bottom: 20px;
}

#carac {
      padding: 1rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: large;
      margin-bottom: 2rem;
}

#footer {
      display: flex;
      justify-content: center;

}


#compre {
      margin-top: 1.5rem;
      height: 45px;
      border-radius: 12px;
      border: solid 1px black;
      background-color: rgb(194, 128, 194);
      width: 95px;
      margin-bottom: 4rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width: 680px) {
      #container {
            width: 70vw;
      }


      #left {
            flex: 7;
      }

      #right {
            display: block;
            background-image: url(../../../assets/OIP.jpeg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            flex: 6;
      }
}