* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background: #743ffb;
    background: radial-gradient(circle, rgba(116, 63, 251, 1) 63%, rgba(237, 70, 252, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    background-color: rgb(253, 241, 193);
    width: 275px;
    height: 80vh;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    padding: 8px;

}

#left {
    margin: 2px;
    flex: 1;
    height: 80%;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

#right {
    background-image: url(../../assets/OIP.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: aliceblue;
    flex: 1;
    height: 100%;
    border-radius: 14px;
    padding: 8px;
    display: none;
}


#subtitle-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 8px;
    flex-wrap: nowrap;
    ;
}


#header-title {
    font-size: 16px;
}


#header-container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4rem;
}

#main {
    margin-bottom: 1rem;
    font-size: large;
    width: 80%;
}

#final {
    align-items: center;

}

#title {
    margin-bottom: 1rem;
    font-size: larger;
}

#sign {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1px;
    font-size: 12px;
}

.input-container {
    margin-top: 0, 5rem;
    margin-bottom: 1rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.input-text {
    margin-top: 0, 5rem;
    margin-bottom: 1rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #494747;
    padding-left: 4px;
}

#forgot-password {
    color: #939393;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;

}

remember-label {
    color: #939393
}

#btn-signin {
    margin-top: 2rem;
    height: 48px;
    border-radius: 12px;
    border: solid 1px #0f0f0f;
    background-color: plum;
    width: 96px;
}

#paragrafo {
    color: #ccc;
    font-size: 15px;
}

#link {
    color: plum;
    cursor: pointer;

}


@media (min-width: 680px) {
    #container {
        width: 60vw;
    }


    #left {
        flex: 6;
    }

    #right {
        display: block;
        background-image: url(../../assets/OIP.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex: 7;
    }

    #paragrafo {
        font-size: 55;
    }

}

@media (min-width:1024px) {
    #container {
        width: 800px;
    }

    #left {
        flex: 4;
    }

    #right {
        display: block;
        background-image: url(../../assets/OIP.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex: 8;
    }

    #paragrafo {
        font-size: 20;
    }
}