* {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #743ffb;
    background: radial-gradient(circle, rgba(116, 63, 251, 1) 63%, rgba(237, 70, 252, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    background-color: rgb(252, 242, 203);
    width: 380px;
    height: 80vh;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.header {
    display: flex;
    width: 366px;
    height: 60px;
    background-color: rgb(240, 229, 188);
    color: black;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.menu-box {
    height: 5vh;
    width: 70px;
    font-size: small;
    display: none;
}

#caixa {
    display: flex;
    flex-direction: row;
}

.logo {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}

.menu-btn {
    background: none;
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.container {
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #2e4053;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    max-height: 80vh;
}

.card {
    background-color: cornsilk;
    ;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #ffdd57;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.8rem;
    color: #2e4053;
}

.card p {
    font-size: 1rem;
    color: #777;
}

.price {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #ff6f61;
    font-size: 1.2rem;
}

.compre {
    margin-top: 1.5rem;
    height: 45px;
    border-radius: 12px;
    border: solid 1px black;
    background-color: rgb(194, 128, 194);
    width: 95px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

@media (min-width: 680px) {
    #container {
        width: 600px;
    }

    .header {
        width: 585px;
    }

    .menu-box {
        display: block;
    }

    .menu-btn {
        display: none;
    }

}
    @media (min-width: 1000px) {
        #container {
            width: 800px;
        }

        .header {
            width: 785px;
        }


    }